._helpCard {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--color-light);
  border-radius: 1rem;
  box-shadow: var(--shadow-color);
  margin-bottom: 1rem;
}

._helpCardIcon {
  font-size: 1.5rem;
  padding: 0.8rem;
  color: var(--color-primary);
  background-color: var(--icon-bg-color);
  border-radius: 1rem;
}

._helpInfo {
  margin: 0;

  h4 {
    margin: 0;
    color: var(--color-dark);
    margin-bottom: 0.3rem;
  }

  p {
    margin: 0;
    color: var(--color-secondary);
  }
}

.lastCard {
  margin-top: 3rem;
}

.lastIcon {
  background-color: #fef3c7; /* annan färg */
}

._helpTop {
  margin-top: 1rem;
  margin-bottom: 3rem;
  h3 {
    color: var(--color-dark);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
  }

  p {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0;
  }

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
