._mainContent {
  margin-top: 1rem;
  margin-bottom: 3rem;
  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-dark);
    margin: 0;
    margin-top: 1rem;
  }

  p {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0;
  }

  @meida (min-width: 768px) {
    margin-top: 0;
  }
}

._ticketCard {
  padding: 2rem;
  background-color: var(--color-light);
  border-radius: 1rem;
  margin: 2rem 0;
  box-shadow: var(--shadow-color);
}

._clockIcon {
  padding: 0.8rem;
  background-color: var(--icon-bg-color);
  border-radius: 1rem;
}

._ticketInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

._timeTicket {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 600;
}

._ticketType {
  font-size: 1.2rem;
  color: var(--color-secondary);
  font-weight: 500;
}

._buyTicket {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    font-size: 1rem;
    box-shadow: inset 11px 15px 12px rgba(0, 0, 0, 0.08);
  }
}

._price {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 1.5rem;
}

._currency {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 1.2rem;
}

._modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

._modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 320px;
  text-align: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

._modalButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

._modalButtons button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

._modal h3 {
  color: var(--color-primary);
}

._modal p {
  color: var(--color-secondary);
  margin-top: 0.5rem;
}

._modalButtons button:first-child {
  background: #28a745;
  color: white;
}

._modalButtons button:last-child {
  background: #dc3545;
  color: white;
}