._ticketTop {
    h3 {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--color-dark);
        margin: 0;
        margin-top: 1rem;
    }

    p {
        color: var(--color-secondary);
        font-weight: 600;
        font-size: 1.2rem;
        margin: 0;
    }
    
}

._qrCard {
    width: 400px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background: var(--color-light);
    border-radius: 1rem;
    box-shadow: 0px 2px 11px 0px rgba(255, 230, 0, 0.459);
    margin: 2rem 0;
}

._qrCardValid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    span {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: rgb(123, 201, 7);
    }

    p {
        color: var(--color-secondary);
        font-weight: 600;
        font-size: 1rem;
        margin: 0;
    }
}

._qrBorder {
    border: 2px dashed var(--color-secondary);
    border-radius: 1rem;
    width: 350px;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
}

._qrWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    @media (min-width: 768px) {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
}

._qrTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

._qrTimer p {
  margin: 0;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 1rem;
}

._qrTimer span {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-dark);
}

._qrBorder img {
    width: 100%;
    height: auto;
    display: block;
}