._header-wrapper {
  border-bottom: 0.5px solid #a6a7aab0;
  background-color: var(--color-light);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

._header-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0rem 1rem;
}

._header {
  font-size: 80px;
  color: var(--color-primary);
}

._header-content {
  color: var(--color-primary);
}

._header-title {
  font-size: 2rem;
  font-weight: bold;
}