._header-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-bottom: 0.5px solid #a6a7aab0;
  padding: 0rem 1rem;

  @media (min-width: 768px) {
    justify-content: center;
    padding: 0 21rem;
  }
}

._header {
  font-size: 80px;
  color: var(--color-primary);
}

._header-content {
  color: var(--color-primary);
}

._header-title {
  font-size: 2rem;
  font-weight: bold;
}
