._mainContent {
  margin-top: 1rem;
  margin-bottom: 3rem;
  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-dark);
    margin: 0;
    margin-top: 1rem;
  }

  p {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0;
  }

  @meida (min-width: 768px) {
    margin-top: 0;
  }
}

._ticketCard {
  padding: 2rem;
  background-color: var(--color-light);
  border-radius: 1rem;
  margin: 2rem 0;
  box-shadow: var(--shadow-color);
}

._clockIcon {
  padding: 0.8rem;
  background-color: var(--icon-bg-color);
  border-radius: 1rem;
}

._ticketInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

._timeTicket {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 600;
}

._ticketType {
  font-size: 1.2rem;
  color: var(--color-secondary);
  font-weight: 500;
}

._buyTicket {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    font-size: 1rem;
    box-shadow: inset 11px 15px 12px rgba(0, 0, 0, 0.08);
  }
}

._price {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 1.5rem;
}

._currency {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 1.2rem;
}
